<% title = "<h1>Make a new list</h1>" %>
<% poster = "https://img.freepik.com/free-vector/colorful-round-gradient-element-vector_53876-164258.jpg" %>
<%= render "/shared/banner", title: title, poster: poster %>
<%= render "/shared/form" %>